@model TallerMotos.Models.Clientes
@{
    ViewData["Title"] = "Clientes";
}

<h1>Clientes</h1>
<div class="form-group">
    <label asp-for="nombreCliente" class="control-label"></label>
    <input asp-for="nombreCliente" class="form-control" />
    <span asp-validation-for="nombreCliente" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="apellidosCliente" class="control-label"></label>
    <input asp-for="apellidosCliente" class="form-control" />
    <span asp-validation-for="apellidosCliente" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ciudadCliente" class="control-label"></label>
    <input asp-for="ciudadCliente" class="form-control" />
    <span asp-validation-for="ciudadCliente" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="dniCliente" class="control-label"></label>
    <input asp-for="dniCliente" class="form-control" />
    <span asp-validation-for="dniCliente" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="domicilioCliente" class="control-label"></label>
    <input asp-for="domicilioCliente" class="form-control" />
    <span asp-validation-for="domicilioCliente" class="text-danger"></span>
</div>
<div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary" />
</div>
