@model TallerMotos.Models.Talleres

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 style="color:white">Create</h1>

<h4 style="color:white">Talleres</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="numEmpleados" class="control-label" style="color:white"></label>
                <input asp-for="numEmpleados" class="form-control bg-dark" style="color:white"/>
                <span asp-validation-for="numEmpleados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono" class="control-label"style="color:white"></label>
                <input asp-for="telefono" class="form-control bg-dark" style="color:white"/>
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="direccion" class="control-label" style="color:white"></label>
                <input asp-for="direccion" class="form-control bg-dark" style="color:white"/>
                <span asp-validation-for="direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ciudad" class="control-label"style="color:white"></label>
                <input asp-for="ciudad" class="form-control bg-dark" style="color:white"/>
                <span asp-validation-for="ciudad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a style="color:white" asp-action="Index">Atras</a>
</div>

