@model TallerMotos.Models.Talleres

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 style="color:white">Borrar</h1>

<h3 style="color:white">¿Estás seguro que desea borrar?</h3>
<div>
    <h4 style="color:white">Talleres</h4>
    <hr />
    @Html.DisplayForModel()

    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a style="color:white" asp-action="Index">Atras</a>
    </form>
</div>
