@model TallerMotos.Models.Talleres

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 style="color:white">Editar</h1>

<h4 style="color:white">Taller</h4>
<hr />
<div class="row">
    <div class="col-md-4 bg-dark">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />

            @Html.EditorForModel()
        </form>
    </div>
</div>
</div>

<div>
    <a style="color:white" asp-action="Index">Atras</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

