@model TallerMotos.Models.Motos

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 style="color:white">Añadir</h1>

<h4 style="color:white">Motos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="matricula" class="control-label" style="color:white"></label>
                <input asp-for="matricula" class="form-control bg-dark" style="color:white"/>
                <span asp-validation-for="matricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="marca" class="control-label" style="color:white"></label>
                <input asp-for="marca" class="form-control bg-dark" style="color:white"/>
                <span asp-validation-for="marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modelo" class="control-label" style="color:white"></label>
                <input asp-for="modelo" class="form-control bg-dark" style="color:white"/>
                <span asp-validation-for="modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cilindrada" class="control-label" style="color:white"></label>
                <input asp-for="cilindrada" class="form-control bg-dark" style="color:white"/>
                <span asp-validation-for="cilindrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.nombreCliente" class="control-label" style="color:white"></label>
                <select asp-for="Cliente.id" class="form-control bg-dark" asp-items="ViewBag.Clientes" style="color:white">
                    <option value="0">Seleccionar</option>
                </select>
                <span asp-validation-for="Cliente.nombreCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

