@model TallerMotos.Models.Motos

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 style="color:white">Añadir</h1>

<h4 style="color:white">Motos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.EditorForModel()
        </form>
    </div>
</div>

<div>
    <a style="color:white" asp-action="Index">Volver</a>
</div>

