@model TallerMotos.Models.Motos

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 style="color: white">Details</h1>
<h4 style="color: white">Motos</h4>
<div class="col-md-8 bg-dark">
    
    <hr />
    @Html.DisplayForModel()
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id" style="color:white">Edit</a> |
    <a asp-action="Index" style="color:white">Back to List</a>
</div>
