@model TallerMotos.Models.Motos

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 style="color: white">Edit</h1>

<h4 style="color: white">Motos</h4>
<hr />
<div class="row">
    <div class="col-md-4 bg-dark">
        <form asp-action="Edit">
            <input type="hidden" asp-for="id" />
            @Html.EditorForModel()
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="color:white">Back to List</a>
</div>

