@model TallerMotos.Models.Clientes

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<body class="bg-dark">
    <div>
        <h1 style="color: white">Eliminar</h1>

        <h3 style="color: white">Tas seguro bro?</h3>
        <form asp-action="Delete">
            @Html.EditorForModel()
        </form>
    </div>
    <div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="id" />
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            <a asp-action="Index" style="color: white">Atras</a>
        </form>
    </div>
</body>