@model TallerMotos.Models.Clientes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Clientes</h4>
    <hr />
    <form asp-action="Details">
        @Html.EditorForModel()
    </form>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idCliente">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
