@model TallerMotos.Models.Clientes

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<body class="bg-dark">
    <h1 style="color: white">Detalles</h1>
    <h4 style="color: white">Cliente</h4>
    <div>

        <hr />
        <form asp-action="Details">
            @Html.DisplayForModel()
        </form>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.id" style="color: white">Editar</a> |
        <a asp-action="Index" style="color: white">Atras</a>
    </div>
</body>