@model IEnumerable<TallerMotos.Models.Talleres>
@{
    ViewData["Title"] = "Gestion de Facturas";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Gestion de Facturas</h1>

<div class="form-group ">
    <label class="control-label" style="color: white">Taller Seleccion</label>
    <select id="idTaller" class="form-control bg-dark" style="color: white" asp-items="ViewBag.Talleres" onchange="refrescarTodo()">
        <option value="0">Seleccionar</option>
    </select>
    <input type="button" onclick="abrirDialog('/Facturas/Index')" value="Buscar" class="btn btn-primary" />
    <input type="hidden" id="idFactura" value="1" />
</div>

<div class="row">
    <div class="col-12" id="PanelTaller">

    </div>
</div>
<div class="row">
    <div class="col-12" id="PanelFactura"></div>
</div>
<div class="row">
    <div class="col-12" id="PanelEmpleado"></div>
</div>

@section Scripts{
    <script>
        function refrescar(url, destino) {
            $.ajax({
                url: url,
                data: {
                    idTaller: $('#idTaller').val(),
                    idFactura: $('#idFactura').val()
                },
                success: function (res) {
                    $('#' + destino).html(res);
                }
            });
        };
        function abrirDialog(url) {
            $.ajax({
                url: url,
                data: {                    
                    idFactura: $('#idFactura').val()
                },
                success: function (res) {
                    bootbox.dialog({
                        message: res,
                        size: "large"
                    });
                    $('#' + destino).html(res);
                }
            })
        }
        function refrescarTodo() {
            refrescar('/Talleres/Details', 'PanelTaller');
            refrescar('/Facturas/Details', 'PanelFactura');
            refrescar('/Empleados/Details', 'PanelEmpleado');
        };
        function SeleccionaRegistro(id) {
            $('#idFactura').val(id);
            refrescarTodo();
            bootbox.hideAll();
        }
        $(document).ready(function () {
            refrescarTodo();
        })
    </script>
}
