@model TallerMotos.Models.Proveedores

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 style="color:white">Edit</h1>

<h4 style="color:white">Proveedores</h4>
<hr />
<div class="row bg-dark">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="nombreProveedor" class="control-label" style="color:white"></label>
                <input asp-for="nombreProveedor" class="form-control bg-dark" style="color:white"/>
                <span asp-validation-for="nombreProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="direccion" class="control-label" style="color:white"></label>
                <input asp-for="direccion" class="form-control bg-dark" style="color:white"/>
                <span asp-validation-for="direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pais" class="control-label" style="color:white"></label>
                <input asp-for="pais" class="form-control bg-dark" style="color:white"/>
                <span asp-validation-for="pais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comentario" class="control-label" style="color:white"></label>
                <input asp-for="comentario" class="form-control bg-dark" style="color:white"/>
                <span asp-validation-for="comentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono" class="control-label" style="color:white"></label>
                <input asp-for="telefono" class="form-control bg-dark" style="color:white"/>
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fabricante.nombreFabricante" class="control-label" style="color:white"></label>
                <select asp-for="Fabricante.id" class="form-control bg-dark" style="color:white" asp-items="ViewBag.Fabricantes">
                    <option value="0">Seleccionar</option>
                </select>
                <span asp-validation-for="Fabricante.nombreFabricante" class="text-danger" style="color:white"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="color:white">Atras</a>
</div>

