@model TallerMotos.Models.Facturas


<h1 style="color: white">Eliminar factura</h1>

<h4 style="color: white">¿Estas seguro de que quieres borrar?</h4>
<div>
    <hr />
    <form asp-action="Details">
        @Html.DisplayForModel()
    </form>
</div>
    
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
    </form>
</div>
