@model TallerMotos.Models.Facturas

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 style="color: black">Detalles</h1>

<div>
    <h4 style="color: black">Facturas</h4>
    <hr />
    <form asp-action="Details">
        @Html.DisplayForModel()
    </form>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
