@model TallerMotos.Models.Facturas

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Facturas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />

            @Html.EditorForModel()
        </form>
    </div>
</div>
<hr />
<!--
<table>
    @foreach (VentasLineas vl in Model.VentasLineas) {
        <tr>
            <td>@vl.FacturasId</td>
            <td>@vl.Producto</td>
            <td>@vl.precio</td>
        </tr>
    }
</table>
-->
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

