@model TallerMotos.Models.Facturas

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Facturas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idFactura" />
            <div class="form-group">
                <label asp-for="idCliente" class="control-label"></label>
                <input asp-for="idCliente" class="form-control" />
                <span asp-validation-for="idCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idMoto" class="control-label"></label>
                <input asp-for="idMoto" class="form-control" />
                <span asp-validation-for="idMoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idEmpleado" class="control-label"></label>
                <input asp-for="idEmpleado" class="form-control" />
                <span asp-validation-for="idEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha" class="control-label"></label>
                <input asp-for="fecha" class="form-control" />
                <span asp-validation-for="fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idTaller" class="control-label"></label>
                <input asp-for="idTaller" class="form-control" />
                <span asp-validation-for="idTaller" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="total" class="control-label"></label>
                <input asp-for="total" class="form-control" />
                <span asp-validation-for="total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

