@model TallerMotos.Models.Motos

<style>
    div{
        color: white;
    }
</style>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="matricula" class="control-label" ></label>
    <input asp-for="matricula" class="form-control bg-dark" style="color:white"/>
    <span asp-validation-for="matricula" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="marca" class="control-label"></label>
    <input asp-for="marca" class="form-control bg-dark" style="color:white"/>
    <span asp-validation-for="marca" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="modelo" class="control-label"></label>
    <input asp-for="modelo" class="form-control bg-dark" style="color:white"/>
    <span asp-validation-for="modelo" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="cilindrada" class="control-label"></label>
    <input asp-for="cilindrada" class="form-control bg-dark" style="color:white"/>
    <span asp-validation-for="cilindrada" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Cliente.nombreCliente" class="control-label"></label>
    <select asp-for="Cliente.id" class="form-control bg-dark" asp-items="ViewBag.Clientes" style="color:white">
        <option value="0">Seleccionar</option>
    </select>
    <span asp-validation-for="Cliente.nombreCliente" class="text-danger"></span>
</div>
<div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary" />
</div>
