@model TallerMotos.Models.Servicios

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 style="color:white">Editar</h1>

<h4 style="color: white">Servicio</h4>
<hr />
<div class="row">
    <div class="col-md-4 bg-dark">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            @Html.EditorForModel()
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="color:white">Atras</a>
</div>

