@model TallerMotos.Models.Productos

<style>
    div{
        color: blanchedalmond;
    }
</style>
<div class="form-group">
    <label asp-for="tipo" class="control-label"></label>
    <input asp-for="tipo" class="form-control" />
    <span asp-validation-for="tipo" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="precio" class="control-label"></label>
    <input asp-for="precio" class="form-control" />
    <span asp-validation-for="precio" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="stock" class="control-label"></label>
    <input asp-for="stock" class="form-control" />
    <span asp-validation-for="stock" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Proveedor.nombreProveedor" class="control-label"></label>
    <input asp-for="Proveedor.nombreProveedor" class="form-control" />
    <span asp-validation-for="Proveedor.nombreProveedor" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="fabricante" class="control-label"></label>
    <input asp-for="fabricante" class="form-control" />
    <span asp-validation-for="fabricante" class="text-danger"></span>
</div>
<div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary" />
</div>