@model TallerMotos.Models.Facturas
@{
    ViewData["Title"] = "Facturas";
}

<h1>Facturas</h1>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="form-group">
    <label asp-for="idCliente" class="control-label"></label>
    <input asp-for="idCliente" class="form-control" />
    <span asp-validation-for="idCliente" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="idEmpleado" class="control-label"></label>
    <input asp-for="idEmpleado" class="form-control" />
    <span asp-validation-for="idEmpleado" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="fecha" class="control-label"></label>
    <input asp-for="fecha" class="form-control" />
    <span asp-validation-for="fecha" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="idTaller" class="control-label"></label>
    <input asp-for="idTaller" class="form-control" />
    <span asp-validation-for="idTaller" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="total" class="control-label"></label>
    <input asp-for="total" class="form-control" />
    <span asp-validation-for="total" class="text-danger"></span>
</div>
<div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary" />
</div>
<hr />
<h4>Ventas Lineas</h4>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Precio</th>
            <th scope="col">Descripción del producto</th>
        </tr>
    </thead>
    @foreach (VentasLineas tab02 in Model.VentasLineas)
    {
        <tr>
            <th scope="row">
                @tab02.id
            </th>
            <td>
                @tab02.precio
            </td>
            <td>
                @if (tab02.Producto != null)
                {
                    <span>@tab02.Producto.descripcion</span>
                }

            </td>
        </tr>
    }
</table>