@model TallerMotos.Models.Facturas
@{
    ViewData["Title"] = "Facturas";
}

<h1>Facturas</h1>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="form-group">
    <label asp-for="idCliente" class="control-label"></label>
    <input asp-for="idCliente" class="form-control" />
    <span asp-validation-for="idCliente" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="idEmpleado" class="control-label"></label>
    <input asp-for="idEmpleado" class="form-control" />
    <span asp-validation-for="idEmpleado" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="fecha" class="control-label"></label>
    <input asp-for="fecha" class="form-control" />
    <span asp-validation-for="fecha" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="idTaller" class="control-label"></label>
    <input asp-for="idTaller" class="form-control" />
    <span asp-validation-for="idTaller" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="total" class="control-label"></label>
    <input asp-for="total" class="form-control" />
    <span asp-validation-for="total" class="text-danger"></span>
</div>
<div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary" />
</div>
<hr />
<h4>Ventas Lineas</h4>
<table class="table">
    @foreach (VentasLineas tab02 in Model.VentasLineas)
    {
    <tr>
        <th>ID Ventas Lineas</th>
        <th>Precio</th>
        <th>ID Producto</th>
    </tr>
    <tr>
        <td>
            @tab02.id
        </td>
        <td>
            @tab02.precio
        </td>
        <td>
            @tab02.Producto.descripcion
        </td>
    </tr>
    }
</table>