@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Gestion de Catalogo</h1>

<input type="text" value="" id="idServicio" />
<button onclick="seleccionarServicio($('#idServicio'))">
    Seleccionar
</button>
<div class="row">
    <div class="col-12" id="PanelServicio">

    </div>
</div>

<input type="text" value="" id="idProducto" />
<button onclick="seleccionarProducto($('#idProducto'))">
    Seleccionar
</button>
<div class="row">
    <div class="col-12" id="PanelProducto">

    </div>
</div>

<input type="text" value="" id="idDescuento" />
<button onclick="seleccionarPublicidad($('#idDescuento'))">
    Seleccionar
</button>
<div class="row">
    <div class="col-12" id="PanelDescuento">

    </div>
</div>

@section Scripts{
    <script>
        function refrescar(url, destino) {
            $.ajax({
                url: url,
                success: function (res) {
                    $('#' + destino).html(res);
                }
            });
        };
        function refrescarServicio(url, destino) {
            $.ajax({
                url: url,
                data: {
                    idServicio: $('#idServicio').val()
                },
                success: function (res) {
                    $('#' + destino).html(res);
                }
            });
        };
        function refrescarProducto(url, destino) {
            $.ajax({
                url: url,
                data: {
                    idProducto: $('#idProducto').val()
                },
                success: function (res) {
                    $('#' + destino).html(res);
                }
            });
        };
        function refrescarPublicidad(url, destino) {
            $.ajax({
                url: url,
                data: {
                    idDescuento: $('#idDescuento').val()
                },
                success: function (res) {
                    $('#' + destino).html(res);
                }
            });
        };
        function refrescarTodo() {
            refrescar('/Productos/Index', 'PanelProducto');
            refrescar('/Servicios/Index', 'PanelServicio');
            refrescar('/Publicidad/Index', 'PanelDescuento');
        };
        function seleccionarServicio(idSelect) {
            refrescarServicio('/Servicios/Index/' + idSelect, 'PanelServicio');
        };
        function seleccionarProducto(idSelect) {
            refrescarProducto('/Productos/Index/' + idSelect, 'PanelProducto');
        };
        function seleccionarPublicidad(idSelect) {
            refrescarPublicidad('/Publicidad/Index/' + idSelect, 'PanelDescuento');
        };
        $(document).ready(function () {
            refrescarTodo();
        })
    </script>
}
