@model TallerMotos.Models.ViewData.Fabricantes

@{
    ViewData["Title"] = "Create";
}
<body class="bg-dark">
    <h1 style="color: white">Create</h1>

<h1>Fabricante</h1>

<h4>Añadir nuevo</h4>
<hr />
<div class="row">
    <div class="col-md-4 bg-dark">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div style="color:white" class="form-group">
                Nombre
                <input asp-for="nombreFabricante" class="form-control" />
                <span asp-validation-for="nombreFabricante" class="text-danger"></span>
            </div>
            <div style="color:white" class="form-group">
                País
                <input asp-for="pais" class="form-control" />
                <span asp-validation-for="pais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Añadir" class="btn btn-sm btn-primary" />
            </div>
        </form>
    </div>
</div>
    <h4 style="color: white">Fabricantes</h4>
    <hr />
    <div class="row">
        <div class="col-md-4 bg-dark">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="nombreFabricante" class="control-label" style="color: white"></label>
                    <input asp-for="nombreFabricante" class="form-control bg-dark" style="color: white"/>
                    <span asp-validation-for="nombreFabricante" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="pais" class="control-label" style="color: white"></label>
                    <input asp-for="pais" class="form-control bg-dark" style="color: white"/>
                    <span asp-validation-for="pais" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

<div>
    <a asp-action="Index">Volver</a>
</div>

    <div>
        <a asp-action="Index" style="color: white">Back to List</a>
    </div>
</body>
