@model TallerMotos.Models.ViewData.Fabricantes

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>@Model.nombreFabricante</h1>

<h4>Editar</h4>
<hr />
<div class="row">
    <div class="col-md-4 bg-dark">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div style="color:white" class="form-group">
                Nombre
                <input asp-for="nombreFabricante" class="form-control" />
                <span asp-validation-for="nombreFabricante" class="text-danger"></span>
            </div>
            <div style="color:white" class="form-group">
                País
                <input asp-for="pais" class="form-control" />
                <span asp-validation-for="pais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-sm btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

