@model IEnumerable<TallerMotos.Models.ViewData.TalleresVentasTOP10>
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<h1>TOP 10 ventas talleres</h1>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
            

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>


        </tr>
        }
    </tbody>
</table>
<a style="color:white" asp-action="Index">Atras</a>

