@model TallerMotos.Models.Servicios
<style>
    div{
        color: blanchedalmond;
    }
</style>
<div class="form-group">
    <label asp-for="tipo" class="control-label"></label>
    <input asp-for="tipo" class="form-control" />
    <span asp-validation-for="tipo" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="descripcion" class="control-label"></label>
    <input asp-for="descripcion" class="form-control" />
    <span asp-validation-for="descripcion" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="precio" class="control-label"></label>
    <input asp-for="precio" class="form-control" />
    <span asp-validation-for="precio" class="text-danger"></span>
</div>
<div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary" />
</div>