@model TallerMotos.Models.VentasLineas

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 style="color: white">Editar</h1>

<h4 style="color: white">Venta linea</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="ProductoId" class="control-label"></label>
                <select asp-for="ProductoId" class="form-control bg-dark" style="color:white" asp-items="@ViewBag.Producto">
                    <option >Sin producto</option>
                </select>
                <span asp-validation-for="ProductoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServicioId" class="control-label"></label>
                <select name="ServicioId" class="form-control bg-dark" style="color:white" asp-items="@ViewBag.Servicio">
                    <option value="">Sin servicio</option>
                </select>
                <span asp-validation-for="ServicioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cantidad" class="control-label"></label>
                <input asp-for="cantidad" class="form-control bg-dark" style="color:white" />
                <span asp-validation-for="cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precio" class="control-label"></label>
                <input asp-for="precio" class="form-control bg-dark" style="color:white" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacturasId" class="control-label"></label>
                <input asp-for="FacturasId" readonly class="form-control bg-dark" style="color:white" />
                <span asp-validation-for="FacturasId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="color:white">Atras</a>
</div>

