@model TallerMotos.Models.Empleados

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h4 style="color: white">Empleados</h4>
<div class="bg-dark">

    <hr />
    @Html.DisplayForModel()
</div>
<div>
    <a style="color:white" asp-action="Edit" asp-route-id="@Model.id">Editar</a> |
    <a style="color:white" asp-action="Index">Volver</a>
</div>
