@model TallerMotos.Models.Publicidad

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 style="color:white">Añadir</h1>

<h4 style="color:white">Oferta</h4>
<hr />
<div class="row">
    <div class="col-md-4 bg-dark">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="fechaInicio" class="control-label" style="color:white"></label>
                <input asp-for="fechaInicio" class="form-control bg-dark" style="color:white"/>
                <span asp-validation-for="fechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaFinal" class="control-label" style="color:white"></label>
                <input asp-for="fechaFinal" class="form-control bg-dark" style="color:white"/>
                <span asp-validation-for="fechaFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descuento" class="control-label" style="color:white"></label>
                <select name="descuento" class="form-control bg-dark" style="color:white;" asp-items="ViewBag.Descuento">
                    <option value="0">Seleccionar</option>
                </select>
                <span asp-validation-for="descuento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productoId" class="control-label" style="color:white"></label>
                <select name="producto" class="form-control bg-dark" style="color:white;" asp-items="ViewBag.Producto">
                    <option value="0">Seleccionar</option>
                </select>
                <span asp-validation-for="productoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="color:white">Atras</a>
</div>

