@model TallerMotos.Models.Productos

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 style="color:white">Create</h1>

<h4 style="color:white">Productos</h4>
<hr />
<div class="row bg-dark">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.EditorForModel()
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="color:white">Atras</a>
</div>

