@model TallerMotos.Models.Productos

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 style="color:white">Eliminar</h1>

<h3 style="color:white">Tas seguro bro?</h3>
<div>
    <h4 style="color:white">Producto</h4>
    <hr />
    @Html.DisplayForModel()
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index" style="color:white">Atras</a>
    </form>
</div>
