@model TallerMotos.Models.Productos

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 style="color:white">Details</h1>
<h4 style="color:white">Productos</h4>
<div class="bg-dark">
    
    <hr />
    @Html.DisplayForModel()
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id" style="color:white">Edit</a> |
    <a asp-action="Index" style="color:white">Atras</a>
</div>
