@model IEnumerable<TallerMotos.Models.Productos>

@{
    ViewData["Title"] = "ListadoProductos";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>ListadoProductos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tipo)
            </th>
            <th>
                Precio Medio
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            
        </tr>
}
    </tbody>
</table>
