<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TallerMotos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://code.jquery.com/jquery-1.12.2.js"
            integrity="sha256-VUCyr0ZXB5VhBibo2DkTVhdspjmxUgxDGaLQx7qb7xY="
            crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function (ev) {
            $("#galeria li:gt(0)").hide(); //gt(0) se refiere a todos menos al elemento cuyo indice sea 0

            setInterval(function () { //se ejecuta el intervalo,
                $("#galeria li:first-child").fadeOut()
                    .next("li").fadeIn(1000)
                    .end().appendTo("#galeria");
            }, 4000); //numero de milisegundos


        });

    </script>
    <style>
        #galeria {
            position: relative;
            width: 600px;
            height: 400px;
            overflow: hidden;
            border: 10px solid #333;
            margin: 0 auto;
            padding: 0;
            border-radius: 40px
        }

            #galeria p {
                opacity: 0.7;
                position: absolute;
                left: 100px;
                bottom: 30px;
                display: block;
                width: 400px;
                height: 40px;
                padding: 5px;
                background: #990000;
                color: #eee;
                font-size: 22px;
                text-align: center;
                line-height: 22px;
            }
            img{
                width: 600px;
                height: 400px;
            }
        #menu > li { /*los li pegados a menu*/
           
            position: relative;
        }
        .submenu {
            position: absolute;
            display: none;
            background-color:brown;
        }
        
        #menu li:hover {
            cursor: pointer;
        }

            #menu li:hover ul { /*las listas que estan dentro, se ponen con block*/
                display: block;
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TallerMotos</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 pull-right" id="menu">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MotosHm">Motos</a>

                            <ul class="nav-item submenu">
                                <li class="nav-item">Kawasaki</li>

                            </ul>
                        </li>


                        <li class="nav-item ">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="PiezasHm">Piezas</a>
                            <ul class="nav-item submenu">
                                <li class="nav-item">Motor</li>

                            </ul>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ComplementosHm">Complementos</a>
                            <ul class="nav-item submenu">
                                <li class="nav-item">Casco</li>

                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div>
        <ul id="galeria">
            <li><img src="https://images.unsplash.com/photo-1524591652733-73fa1ae7b5ee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60" ><p>Motos</p></li>
            <li><img src="https://images.unsplash.com/photo-1515777315835-281b94c9589f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60"><p>Piezas</p></li>
            <li><img src="https://images.unsplash.com/photo-1610229953140-d6c35bc7fa65?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=981&q=80"><p>Complementos</p></li>
        </ul>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - TallerMotos - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
