<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TallerMotos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://code.jquery.com/jquery-1.12.2.js"
            integrity="sha256-VUCyr0ZXB5VhBibo2DkTVhdspjmxUgxDGaLQx7qb7xY="
            crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function (ev) {
            $("#galeria li:gt(0)").hide(); //gt(0) se refiere a todos menos al elemento cuyo indice sea 0

            setInterval(function () { //se ejecuta el intervalo,
                $("#galeria li:first-child").fadeOut()
                    .next("li").fadeIn(1000)
                    .end().appendTo("#galeria");
            }, 4000); //numero de milisegundos


        });

    </script>
    <style>
        #galeria {
            position: relative;
            width: 600px;
            height: 400px;
            overflow: hidden;
            border: 10px solid #333;
            margin: 0 auto;
            padding: 0;
            border-radius: 40px
        }

            #galeria p {
                opacity: 0.7;
                position: absolute;
                left: 100px;
                bottom: 30px;
                display: block;
                width: 400px;
                height: 40px;
                padding: 5px;
                background: #990000;
                color: #eee;
                font-size: 22px;
                text-align: center;
                line-height: 22px;
            }
            img{
                width: 600px;
                height: 400px;
            }
        /*coge las p dentro de galeria*/
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TallerMotos</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div>
        <ul id="galeria">
            <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAzykEvll0wKXcJ5FfEOnJ2QXk8XpztPcUZA&usqp=CAU" ><p>imagen 1</p></li>
            <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAzykEvll0wKXcJ5FfEOnJ2QXk8XpztPcUZA&usqp=CAU"><p>imagen 2</p></li>
            <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS892lvqmRT1LcyMdy41uDleYHWzNmBinHp6A&usqp=CAU"><p>imagen 3</p></li>
        </ul>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - TallerMotos - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
