<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Taller de Motos</title>
    <link rel="icon" type="image/x-icon" href="https://img.icons8.com/android/24/000000/motorcycle.png" />
   
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.12.2.js"
            integrity="sha256-VUCyr0ZXB5VhBibo2DkTVhdspjmxUgxDGaLQx7qb7xY="
            crossorigin="anonymous"></script>

</head>
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color:#333">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" asp-area="" asp-controller="Home" asp-action="Index">Taller FUAAH</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto" id="menu">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-area="" asp-controller="Motos" asp-action="Index">Motos</a>
                        <ul class="nav-item submenu js-scroll-trigger">
                            <li class="nav-item js-scroll-trigger">Kawasaki</li>
                            <li class="nav-item js-scroll-trigger">Honda</li>
                            <li class="nav-item js-scroll-trigger">Suzuki</li>
                            <li class="nav-item js-scroll-trigger">Husqvarna</li>
                            <li class="nav-item js-scroll-trigger">KTM</li>
                            <li class="nav-item js-scroll-trigger">Derbi</li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-area="" asp-controller="Productos" asp-action="Index">Productos</a>
                        <ul class="nav-item submenu js-scroll-trigger">
                            <li class="nav-item js-scroll-trigger">Motor</li>
                            <li class="nav-item js-scroll-trigger">Frenos</li>
                            <li class="nav-item js-scroll-trigger">Neumaticos</li>
                            <li class="nav-item js-scroll-trigger">Embrague</li>
                            <li class="nav-item js-scroll-trigger">Focos</li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-area="" asp-controller="Talleres" asp-action="Index">Talleres</a>
                        <ul class="nav-item submenu">
                            <li class="nav-item js-scroll-trigger">Zaragoza</li>
                            <li class="nav-item js-scroll-trigger">Madrid</li>
                            <li class="nav-item js-scroll-trigger">Barcelona</li>
                            <li class="nav-item js-scroll-trigger">Valencia</li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-area="" asp-controller="Servicios" asp-action="Index">Servicios</a>
                        <ul class="nav-item submenu">
                            <li class="nav-item js-scroll-trigger">Arreglo de moto</li>
                            <li class="nav-item js-scroll-trigger">Cambio de ruedas</li>
                            <li class="nav-item js-scroll-trigger">Puesta a punto</li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-area="" asp-controller="Facturas" asp-action="Index">Facturas</a>       
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">Taller de Motos</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Tenemos motores de la NASA ninio</h2>
                <a class="btn btn-primary js-scroll-trigger" asp-controller="Productos" asp-action="Index">Comprar</a>
            </div>
        </div>
    </header>
    <!-- About-->
    <section class="about-section text-center" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div>
                        <ul id="galeria">
                            <li><img src="https://images.unsplash.com/photo-1524591652733-73fa1ae7b5ee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60"><p>Motos</p></li>
                            <li><img src="https://images-ext-2.discordapp.net/external/3_ykYJ7gggzSc6JWZJ5eCwJFB2jjiuxn0r3505VxO2U/%3Fixlib%3Drb-1.2.1%26ixid%3DMnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8%26auto%3Dformat%26fit%3Dcrop%26w%3D500%26q%3D60%2522%253E%253Cp%253EPiezas%253C%2Fp%253E%253C%2Fli%253E/https/images.unsplash.com/photo-1515777315835-281b94c9589f"><p>Motos</p></li>
                            <li><img src="https://images-ext-2.discordapp.net/external/CxuYXTiYdHxY-OJm0Ibd_2lYvyJVmsCtoPjjKlZfwL4/%3Fixid%3DMnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8%26ixlib%3Drb-1.2.1%26auto%3Dformat%26fit%3Dcrop%26w%3D981%26q%3D80%2522%253E%253Cp%253EComplementos%253C%2Fp%253E%253C%2Fli%253E/https/images.unsplash.com/photo-1610229953140-d6c35bc7fa65?width=659&height=484"><p>Motos</p></li>
                            <li><img src="https://images-ext-2.discordapp.net/external/p1CWuAN9rX6E2Sf6EKVVcsYYihvbf7UEK86Wtk8XjgU/https/fotos02.formulamoto.es/2017/11/17/1024x341/p90161916.jpg?width=685&height=484" /><p>Piezas</p></li>
                            <li><img src="https://www.moto1pro.com/sites/default/files/frenos-moto-1.jpg" /><p>Piezas</p></li>
                            <li><img src="https://images-ext-1.discordapp.net/external/uHXldmxa2DHFr4lcgOwL6WWWoZGIrJ57QpLhEen-_l4/https/www.moto1pro.com/sites/default/files/2015_yam_yzf1000r1_eu_ms1rb_det_003_03.jpg?width=861&height=484" /><p>Piezas</p></li>
                            <li><img src="https://www.moto1pro.com/sites/default/files/frenos-moto-1.jpg" /><p>Piezas</p></li>
                            <li><img src="https://www.motoblouz.es/enjoytheride/wp-content/uploads/2017/08/ice_pro_red.jpg" /><p>Complementos</p></li>
                            <li><img src="https://www.wilock.com/wp-content/uploads/2019/01/guantes-moto.jpg" /><p>Complementos</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Projects-->
    <section class="projects-section bg-light" id="projects">
        <div class="container">
            <!-- Featured Project Row-->

            <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="~/assets/img/motofua1.jpg" alt="" /></div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>Motillos V13.8</h4>
                        <p class="text-black-50 mb-0">Somos la empresa lider del mercado en motillos ultraTochas, con motores de propulsion endotérmica y refrigeracion Fria.</p>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                <div class="col-lg-6"><img class="img-fluid" src="~/assets/img/piezas.jpg" alt="" /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Productos</h4>
                                <p class="mb-0 text-white-50">
                                    Productos de garantia con garantia de dos meses, las mejores piezas pa tu mochillo, todas bañadas en oro y diamante. <br />
                                    Poseemos las mejores ruedas, siempre redondas. <br />
                                    Motores con una barbaridad de caballos, de los que tiran un tajo.
                                    <br />
                                    Frenos que no frenan que pero están guapisimos, unos embragues de locos. <br />
                                    Y los focos... buah como alumbran bro, como cuando a un conejo le echas las largas
                                </p>
                                <hr class="d-none d-lg-block mb-0 ml-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Two Row-->
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-6"><img class="img-fluid" src="~/assets/img/motos-en-taller.jpg" alt="" /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Talleres</h4>
                                <p class="mb-0 text-white-50">
                                    Actualmente puedes encontrarnos en las 4 ciudades mas importantes del pais, Zaragoza, Madrid, Barcelona y Valencia. <br />
                                    Están guapisimos, pero mas guapx estás Tú, ah y las motos que hacemos y los arreglos igual, al salir de nuestros talleres dirás, buah, de locos, vaya pedazo taller loko.
                                </p>
                                <hr class="d-none d-lg-block mb-0 mr-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Third row-->
            <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                <div class="col-lg-6"><img class="img-fluid" src="~/assets/img/mecanicoBuenorro.jpg" alt="" /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Servicios</h4>
                                <p class="mb-0 text-white-50"> Ofrecemos los mejores servicios para su mochillo.
                                    <br />
                                Cambio de Ruedas, Aceite, puesta a punto para ITV, Reparaciones de todo tipo.
                                </p>
                                <hr class="d-none d-lg-block mb-0 ml-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Signup-->
    <section class="signup-section" id="signup">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                    <h2 class="text-white mb-5">Subscribete para no perderte nuestras novedades!</h2>
                    <form class="form-inline d-flex">
                        <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" type="email" placeholder="Introduce tu email..." />
                        <button class="btn btn-primary mx-auto" type="submit">Subscribirse</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact-->
    <section class="contact-section bg-black">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Direccion</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50">Sede: Océano Atlántico</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Email</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50"><a href="#!">motosOceano@fp.oceanoatlantico.org</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-mobile-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Telefono</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50">+34 652 01 25 69 (CEO)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social d-flex justify-content-center">
                <a class="mx-2" href="https://twitter.com/tote_klkuka"><i class="fab fa-twitter"></i></a>
                <a class="mx-2" href="https://www.instagram.com/danielespadagargallo/"><i class="fab fa-instagram"></i></a>
                <a class="mx-2" href="https://www.instagram.com/tenxu.the.rojest/"><i class="fab fa-instagram"></i></a>
                <br />
            </div>
        </div>
    </section>
    <section>

        <iframe width="1348" height="415" src="https://www.youtube.com/embed/cHmCFQGqVoU" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </section>
    <!-- Footer-->
    <footer class="footer bg-black small text-center text-white-50"><div class="container">Copyright © motosFua 2021</div></footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Core theme JS-->
    
    <script type="text/javascript">
        $(document).ready(function (ev) {
            $("#galeria li:gt(0)").hide(); //gt(0) se refiere a todos menos al elemento cuyo indice sea 0

            setInterval(function () { //se ejecuta el intervalo,
                $("#galeria li:first-child").fadeOut()
                    .next("li").fadeIn(1000)
                    .end().appendTo("#galeria");
            }, 4000); //numero de milisegundos


        });

    </script>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">

        <div class="container">
            &copy; 2021 - TallerMotos - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
